{% extends "mission/base.html" %}

{% block content %}
    <h2>About us</h2>
    <p>Mission 30-60-90 is a medium for those who want to habituate to something related to work, studies, fitness
        and much more...
        <br>Here you set a target to achieve and note down its progress day by day
        <br>It takes 21 days for a human being to get accustomed to anything, That's why we provide you a time frame of
        <br>30, 60 or 90 days so as to ensure that the practice definitely turns into a habit.
        <br>You can view your progress report till the day.
        <br>We provide you different videos, playlists, podcasts to make sure you don't lag behind and see a cheerful progress report
        <br>Use this medium to the fullest and achieve all your goals for what it's worth!
    </p>

    
{% endblock content %}