{% extends "mission/base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-8">
        <h2>{{mission_name}}</h2>
        <br>
        {% for status in statuses %}
            
            <div class="media-body">
            <h2>Day no. {{ status.day_no }}</h2>
            {% if status.day_no < dayno %}
                {% if status.is_done%}
                    <button type="button" class="btn btn-success">{% load static %}<img src="{% static "mission/media/check.svg" %}" /></button>
                    <p class="article-content" style="color:grey">{{ status.remarks }}</p>
                {% else %}                    
                    <button type="button" class="btn btn-danger">{% load static %}<img src="{% static "mission/media/x.svg" %}" /></button>
                    
                {% endif %}
                
            {% else %}
                {% if status.is_done%}                   
                    <button type="button" class="btn btn-success">{% load static %}<img src="{% static "mission/media/check.svg" %}" /></button>
                    
                    <p class="article-content" style="color:navy">{{ status.remarks }}</p>
                {% else %}                  
                    <button type="button" class="btn btn-secondary">{% load static %}<img src="{% static "mission/media/dash.svg" %}" /></button>
                    
                {% endif %}
                
            {% endif %}
            
            
            </div>
            
        {% endfor %}
    </div>
</div>

    
{% endblock content %} 

